.cards {
  margin-top: 20px;

  mat-card + mat-card {
    margin-top: 20px;
  }
}

.spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

::ng-deep .mat-card-header-text {
  width: 100%;
}
